<div ng-hide="newItem.$visible">
    <button type="button" class="btn btn-info" ng-click="newItem.$show()">Add new client +</button>
</div>
<div ng-show="newItem.$visible">

    <form editable-form name="newItem" onbeforesave="addNewItem($data)">



        <div ba-panel class="panel bootstrap-panel">
            <div class="panel-heading">Add new client</div>
            <div class="panel-body">
                <div class="row" align="right">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <span editable-text="newUser.firstName" e-name="firstName" e-form="newItem" onbeforesave="checkEmpty($data, 'First Name')">
         </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <span editable-text="newUser.lastName" e-name="lastName" e-form="newItem" onbeforesave="checkEmpty($data, 'Last Name')">
         </span>
                        </div>
                    </div>
                </div>
                <div class="row" align="right">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <span editable-text="newUser.username" e-name="username" e-form="newItem" onbeforesave="checkUserName($data)">
         </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <span editable-email="newUser.email" e-name="email" e-form="newItem" onbeforesave="checkEmail($data)">
         </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12" align="right">
                <button type="submit" class="btn btn-success" ng-disabled="newItem.$waiting">save</button>
                <button type="button" class="btn btn-warning" ng-disabled="newItem.$waiting" ng-click="newItem.$cancel()">cancel</button>
            </div>
        </div>

    </form>
</div>




<table st-safe-src="userCollection" st-table="displayedCollection" class="table table-striped">

    <thead>
        <tr class="sortable">
            <th st-sort="id" st-sort-default>ID</th>
            <th st-sort="firstName">First Name</th>
            <th st-sort="lastName">Last Name</th>
            <th st-sort="username">Username</th>
            <th st-sort="email">E-mail</th>
        </tr>
        <tr>
            <th></th>
            <th>
                <input st-search="firstName" placeholder="search for first name" class="input-sm form-control" type="search" />
            </th>
            <th>
                <input st-search="lastName" placeholder="search for last name" class="input-sm form-control" type="search" />
            </th>
            <th>
                <input st-search="username" placeholder="search for username" class="input-sm form-control" type="search" />
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="item in displayedCollection">
            <td class="table-id">{{item.id}}</td>
            <td>
                <span editable-text="item.firstName" e-name="firstName" e-form="rowform">
        {{item.firstName}}
        </span>
            </td>
            <td>
                <span editable-text="item.lastName" e-name="lastName" e-form="rowform">
        {{item.lastName}}
        </span>
            </td>
            <td>
                <span editable-text="item.username" e-name="username" e-form="rowform">
        {{item.username}}
        </span>
            </td>
            <td>
                <span editable-text="item.email" e-name="email" e-form="rowform">
        {{item.email}}
        </span>
            </td>
            <td style="min-width:200px">
                <div ng-show="!rowform.$visible" ng-hide="row.passwordField">
                    <button type="button" class="btn btn-info btn-icon" data-toggle="modal" ng-click="rowform.$show()"><i class="ion-edit"></i></button>
                    <button type="button" class="btn btn-warning btn-icon" data-toggle="modal" ng-click="row.passwordField=true; pwdbutton=null"><i class="ion-key"></i></button>
                    <button type="button" class="btn btn-danger btn-icon" data-toggle="modal" ng-click="deleteItem(item)"><i class="ion-trash-b"></i></button>
                </div>
                <div ng-show="row.passwordField">
                    <div class="input-group">
                        <input type="Password" class="form-control" ng-class="pwdbutton.length >=8 ? 'with-success-addon' : 'with-danger-addon'" placeholder="password" ng-model="pwdbutton">
                        <span class="input-group-btn">
      <button class="btn"  ng-class="pwdbutton.length >=8 ? 'btn-success' : 'btn-danger'" type="button" ng-click="changePassword(item, row, pwdbutton)">OK</button>
  </span>
                    </div>
                </div>
                <form editable-form name="rowform" onbeforesave="updateClient($data, item.id)" ng-show="rowform.$visible" shown="inserted == item">
                    <button type="submit" class="btn btn-success" ng-disabled="rowform.$waiting">save</button>
                    <button type="button" class="btn btn-warning" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">cancel</button>
                </form>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
            </td>
        </tr>
    </tfoot>

</table>


<div class="form-group select-page-size-wrap" layout="row">
    Rows per page
    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25,50,100]">
      </select>
</div>