
<table st-safe-src="userCollection" st-table="displayedCollection" class="table table-striped">

    <thead>
        <tr class="sortable">
            <th st-sort="id" st-sort-default>ID</th>
            <th st-sort="username">Username</th>
            <th st-sort="roles">Roles</th>
        </tr>
        <tr>
            <th></th>
            <th>
                <input st-search="username" placeholder="search for username" class="input-sm form-control" type="search" />
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="item in displayedCollection">
            <td class="table-id">{{item.id}}</td>
            <td>{{item.username}}</td>
            <td>
                <span editable-checklist="item.roles" e-name="username" e-ng-options="s.value as s.text for s in roles" e-form="rowform">
        {{showRoles()}}
        </span>
            </td>
            <td style="min-width:200px">
                <div ng-show="!rowform.$visible" ng-hide="row.passwordField">
                    <button type="button" class="btn btn-info btn-icon" data-toggle="modal" ng-click="rowform.$show()"><i class="ion-edit"></i></button>
                </div>
                <form editable-form name="rowform" onbeforesave="updateClient($data, item.id)" ng-show="rowform.$visible" shown="inserted == item">
                    <button type="submit" class="btn btn-success" ng-disabled="rowform.$waiting">save</button>
                    <button type="button" class="btn btn-warning" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">cancel</button>
                </form>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
            </td>
        </tr>
    </tfoot>

</table>


<div class="form-group select-page-size-wrap" layout="row">
    Rows per page
    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25,50,100]">
      </select>
</div>