<div class="modal-content" >
  <div class="modal-header bg-success">
    <i class="ion-flame modal-icon"></i><span>Inventory</span>
  </div>
  <div class="modal-body" >
    <div class="profile-page" > 
      <div class="panel-content" >
        <form name="newLabelForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row clearfix">
                <label for="newLabel.label" class="col-sm-4 control-label">Label</label>
                <div class="col-sm-8">
                  <input type="number" ng-focus="focusedItem='label'" ng-blur="focusedItem=null" ng-keyup="submitLabel($event)" ng-model="newLabel.label" class="form-control" placeholder="" >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row clearfix">
                <label for="newLabel.invoice" class="col-sm-4 control-label">Invoice</label>
                <div class="col-sm-8">
                    <input type="number" ng-focus="focusedItem='invoice'" ng-blur="focusedItem=null" ng-model="newLabel.invoice" class="form-control" placeholder="" >
                </div>
              </div>
            </div>
          </div>
        </form>




        <br><br>
        <table st-safe-src="productInvCollection" st-table="displayedInvCollection" class="table table-striped">

          <thead>
            <tr class="sortable">
              <th st-sort="id" st-sort-default>ID</th>
              <th st-sort="label" st-sort-default>label</th>
              <th st-sort="label" st-sort-default>Invoice</th>
            </tr>
            <tr>
              <th></th>
              <th><input st-search="lable" ng-focus="focusedItem='searchLabel'" st-delay="1000" ng-blur="focusedItem=null" placeholder="search for label" ng-model="newLabel.searchLabel" class="input-sm form-control" type="search" /></th>
              <th><input st-search="invoice" ng-focus="focusedItem='searchInvoice'" st-delay="1000" ng-blur="focusedItem=null" placeholder="search for invoice" ng-model="newLabel.searchInvoice" class="input-sm form-control" type="search" /></th>
              <th></th>
              <th ng-show="writeAccess"></th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="item in displayedInvCollection">
              <td class="table-id">{{item.id}}</td>
              <td>{{item.label}}</td>
              <td>{{item.invoice}}</td>
              <td><button type="button" class="btn btn-danger btn-icon" data-toggle="modal" ng-click="deleteItem(item)"><i class="ion-trash-b"></i></button></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
              </td>
            </tr>
          </tfoot>
        </table>



        <br><br><br>
        <div style="display: inline-block"><button type="button" ng-disabled="addVisible" class="btn btn-warning" ng-click="vm.cancel()">Close</button></div>


      </div>
    </div>



  </div>
  <div class="modal-footer">

  </div>
</div>