<div ng-hide="newItem.$visible">
  <button type="button" class="btn btn-info" ng-click="newItem.$show()">Add new product +</button>
</div>
<div ng-show="newItem.$visible">

  <form editable-form name="newItem" onbeforesave="addNewItem($data)">


    <div ba-panel class="panel bootstrap-panel">
      <div class="panel-heading">Add new order</div>
      <div class="panel-body" align='right'>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="name">Product Name</label>
              <span editable-text="newProduct.name" e-name="name" e-form="newItem" onbeforesave="checkName($data)">
         </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="reorder">Reorder Point</label>
              <span editable-number="newProduct.reorder" e-name="reorder" e-form="newItem" onbeforesave="checkEmpty($data, 'Reorder Point')">
         </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="purchase_price">Purchase Price</label>
              <span editable-number="newProduct.purchase_price" e-name="purchase_price" e-form="newItem" onbeforesave="checkEmpty($data,'Purchase Price')">
         </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="sell_price">Sell Price</label>
              <span editable-number="newProduct.sell_price" e-name="sell_price" e-form="newItem" onbeforesave="checkEmpty($data, 'Sell Price')">
         </span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="productCategoryId">Product Category</label>
                <span editable-select="newProduct.productCategory.id" e-name="productCategoryId" e-form="newItem" e-ng-options="s.id as s.category_name for s in productCategory">
        </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" ng-disabled="newItem.$waiting">save</button>
      <button type="button" class="btn btn-warning" ng-disabled="newItem.$waiting" ng-click="newItem.$cancel()">cancel</button>
    </div>
</div>
</form>
<table st-safe-src="productCollection" st-table="displayedCollection" class="table table-striped">

  <thead>
    <tr class="sortable">
      <th st-sort="id" st-sort-default>ID</th>
      <th st-sort="name">Product Name</th>
      <th st-sort="productCategory.category_name">Product Category</th>
      <th st-sort="reorder">Reorder Point</th>
      <th st-sort="purchase_price">Purchase Price</th>
      <th st-sort="sell_price">Sell Price</th>
      <th st-sort="inventory">Inventory</th>
      <th st-sort="fulfilled">Fulfilled</th>
    </tr>
    <tr>
      <th></th>
      <th><input st-search="name" placeholder="search for name" class="input-sm form-control" type="search" /></th>
      <th><input st-search="productCategory.category_name" placeholder="search for product category" class="input-sm form-control"
          type="search" /></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><select st-search="fulfilled" st-input-event="change" st-delay=0 class="form-control input-sm">
                        <option value="">
                            All
                        </option>
                        <option value=true>
                          &#10006;
                        </option>
                        <option value = false>
                          &#10004;
                        </option>
                    </select></th>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="item in displayedCollection">
      <td class="table-id">{{item.id}}</td>
      <td>
        <span editable-text="item.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, item.id)">
        {{item.name}}
        </span>
      </td>
      <td>
        <span editable-select="item.productCategory.id" e-name="productCategoryId" e-form="rowform" e-ng-options="s.id as s.category_name for s in productCategory">
        {{showCategory(item.productCategory.id)}}
        </span>
      </td>
      <td>
        <span editable-number="item.reorder" e-name="reorder" e-form="rowform" style="width:100%" class="mytextarea">
        {{item.reorder}}
        </span>
      </td>
      <td>
        <span editable-number="item.purchase_price" e-name="purchase_price" e-form="rowform">
          {{item.purchase_price}} $  <i title="Product Purchase Price is equal or larger than the Sell Price" ng-class="item.purchase_price >= item.sell_price ? 'ion-alert-circled yellowrow' : ''"></i>
        </span>
      </td>
      <td>
        <span editable-number="item.sell_price" e-name="sell_price" e-form="rowform">
        {{item.sell_price}} $
        </span>
      </td>
      <td>
        <span editable-number="item.inventory" e-name="inventory" e-form="rowform">
        {{item.inventory}}
        </span>
      </td>
      <td width="30px"><i ng-class="item.fulfilled ? 'ion-close-round redrow' : 'ion-checkmark-round greenrow'"></i></td>
      <td style="min-width:100px">
        <div ng-show="!rowform.$visible">
          <button type="button" class="btn btn-info btn-icon" data-toggle="modal" ng-click="rowform.$show()"><i class="ion-edit"></i></button>
          <button type="button" class="btn btn-danger btn-icon" data-toggle="modal" ng-click="deleteItem(item)"><i class="ion-trash-b"></i></button>
        </div>
        <form editable-form name="rowform" onbeforesave="updateProduct($data, item.id)" ng-show="rowform.$visible" shown="inserted == item">
          <button type="submit" class="btn btn-success" ng-disabled="rowform.$waiting">save</button>
          <button type="button" class="btn btn-warning" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">cancel</button>
        </form>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
      </td>
    </tr>
  </tfoot>
</table>
<div class="form-group select-page-size-wrap" layout="row">
  Rows per page
  <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25,50,100]">
      </select>
</div>