html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.header .logo{ padding: 8px; }
md-input-container { width: 100%; }
div[formly-field] { overflow: hidden; }
.window .template{ overflow-y: auto; }

* > div{
    background-color: rgba(20,50,70,.25);
}
* > div:nth-of-type(2){
    background-color: rgba(70,50,20,.25);
}

.header{
    max-height: 64px;
    overflow: hidden;
}
.header .user img{
    border-radius: 50%;
}
.header .user .name,
.header .user .title{
    text-align: center;
}
.body .bodyMenu{
    max-width: 64px;
    overflow: hidden;
}
.body .workspace{
    overflow-x: auto;
}

.body .window{
    min-width: calc(100% - 150px);
    max-width: 1100px;
}
.body .window:last-of-type{
    margin-right: 20%; /*TODO - Not working*/
}
.body .window .header h2{
    text-indent: 1em;
}
.login .form{
    min-width: 350px;
    min-height: 950px;
    position: relative;
}

.md-toast-content.error{
    background-color: red;
}
.md-toast-content.success{
    background-color: green;
}