<div ng-show="!additem.visible && writeAccess">
    <button type="button" class="btn btn-info" ng-click="additem.show()">Add new user +</button>
</div>
<div ng-show="additem.visible">
    <form name="newUserForm" onbeforesave="addNewItem($data)">
        <div ba-panel class="profile-page" ng-controller="usersPageCtrl">
            <div class="panel-heading">Add new User</div>
            <div class="panel-body" align='right'>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row clearfix">
                            <label for="inputFirstName" class="col-sm-4 control-label">First Name</label>
                            <div class="col-sm-8">
                                <div class="form-group  ng-scope">
                                    <input type="text" ng-model="newUser.firstName" id="firstName" name="firstName" class="form-control" required>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row clearfix">
                            <label for="inputFirstName" class="col-sm-4 control-label">Username</label>
                            <div class="col-sm-8">
                                <div class="form-group ng-scope">
                                    <input type="text" class="form-control" ng-model="newUser.username" id="username
                                       " name="username" value="{{newUser.username}}" required ng-model-options="{ debounce: 1000 }"
                                        ng-change="unameValid()">
                                    <div ng-if="userErr.message" ng-class="userErr.error ? 'redrow' : 'greenrow'
                                       " style="padding-top: 10px;">{{userErr.message}}</div>
                                    <div class="progress" style="height=10px; margin-bottom:0px" ng-show=pending>
                                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar
                                       " aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height=10px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row clearfix">
                            <label for="inputFirstName" class="col-sm-4 control-label">Last Name</label>
                            <div class="col-sm-8">
                                <div class="form-group has-feedback ng-scope">
                                    <input type="text" ng-model="newUser.lastName" id="lastName" name="lastName
                                       " class="form-control" required>
                                    <i class="ion-locked form-control-feedback" ng-show="false"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row clearfix">
                            <label for="inputFirstName" class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">
                                <div class="form-group ng-scope">
                                    <input type="text" class="form-control" ng-model="newUser.email" id="email
                                       " name="email" required ng-model-options="{ debounce: 1000 }" ng-change="mailValid()">

                                    <div ng-if="mailErr.message" ng-class="mailErr.error ? 'redrow' : 'greenrow'
                                       " style="padding-top: 10px;">{{mailErr.message}}</div>
                                    <div class="progress" style="height=10px; margin-bottom:0px" ng-show=pending2>
                                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar
                                       " aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height=10px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" align="right">
                    <button type="submit" class="btn btn-success" ng-disabled="newUserForm.$invalid" ng-click="addNewItem()">save</button>
                    <button type="button" class="btn btn-warning" ng-disabled="newUserForm.$reset()" ng-click="resetForm()">cancel</button>
                </div>

            </div>
        </div>

    </form>
</div>


<table st-safe-src="userCollection" st-table="displayedCollection" class="table table-striped">

    <thead>
        <tr class="sortable">
            <th st-sort="id" st-sort-default>ID</th>
            <th st-sort="firstName">First Name</th>
            <th st-sort="lastName">Last Name</th>
            <th st-sort="username">Username</th>
            <th st-sort="email">E-mail</th>
            <th st-sort="employee">Employee</th>
        </tr>
        <tr>
            <th></th>
            <th>
                <input st-search="firstName" placeholder="search for first name" class="input-sm form-control
                                       " type="search" />
            </th>
            <th>
                <input st-search="lastName" placeholder="search for last name" class="input-sm form-control" type="search" />
            </th>
            <th>
                <input st-search="username" placeholder="search for username" class="input-sm form-control" type="search" />
            </th>
            <th>
                <input st-search="email" placeholder="search for email" class="input-sm form-control" type="search" />
            </th>
            <th>
                 <select st-search="employee">
                    <option value="">All</option>
                    <option value="true">yes</option>
                    <option value="false">no</option>
                </select>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="item in displayedCollection">
            <td class="table-id">{{item.id}}</td>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            <td>{{item.employee}}</td>
            <td style="min-width:200px" align="right">
                <div ng-hide="row.passwordField">
                    <button type="button" class="btn btn-warning btn-icon" data-toggle="modal" ng-click="row.passwordField=true;
                                        pwdbutton=null" ng-show="writeAccess"><i class="ion-key"></i></button>
                    <button type="button" class="btn btn-danger btn-icon" data-toggle="modal" ng-click="deleteItem(item)" ng-show="writeAccess"><i class="ion-trash-b"></i></button>
                    <button type="button" class="btn btn-success" data-toggle="modal" ng-click="viewProfile(item)">Profile</button>
                </div>

                <div ng-show="row.passwordField">
                    <div class="input-group">
                        <input type="Password" class="form-control" ng-class="pwdbutton.length>=8
                                    ? 'with-success-addon' : 'with-danger-addon'" placeholder="password" ng-model="pwdbutton">
                        <span class="input-group-btn">
                            <button class="btn"  ng-class="pwdbutton.length >=8 ? 'btn-success' : 'btn-danger'" type="button" ng-click="changePassword(item, row, pwdbutton)">OK</button>
                        </span>
                    </div>
                </div>


                </form>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="7" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
            </td>
        </tr>
    </tfoot>

</table>


<div class="form-group select-page-size-wrap" layout="row">
    Rows per page
    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25,50,100]">
      </select>
</div>