<div layout="column">
    <div layout="row" layout-aling="center center" flex style="height: 100%">
        <div flex></div>
        <div layout="column" flex=30 layout-fill>
            <div flex=10></div>
            <div layout="column">
                <form name="formly.form" ng-submit="formly.onSubmit($event, formly.model)">
                    <formly-form model="formly.model" fields="formly.fields" options="formly.options" form="formly.form">
                        <md-button type="submit" class="md-raised md-primary" ng-disabled="formly.form.$invalid">Submit</md-button>
                        <md-button type="button" class="md-raised" ng-click="formly.options.resetModel()">Reset</md-button>
                    </formly-form>
                </form>
            </div>
            <div flex>
                <h3>token: {{sessionService.token}}</h3>
                <pre ng-if="response">{{response | json}}</pre>
                <pre ng-if="error" style="color: red">{{error | json}}</pre>
            </div>
        </div>
        <div flex></div>
    </div>
</div>