<table st-safe-src="ordersCollection " st-table="displayedCollection " class="table table-striped " st-set-filter="onsFilter ">
    <thead>
        <tr class="sortable ">
            <th st-sort="id " st-sort-default>ID</th>
            <th st-sort="order_date ">Order Date</th>
            <th st-sort="expected_date ">Exp. Arrival Date</th>
            <th st-sort="description ">Description</th>
            <th st-sort="partnerName ">Partner</th>
            <th st-sort="payment.name ">Payment</th>
            <th st-sort="username ">Username</th>
        </tr>
        <tr>
            <th></th>
            <th><input type="date " st-search="order_date " style="width:130px; " /></th>
            <th><input type="date " st-search="expected_date " style="width:130px; " /></th>
            <th><input st-search="description " placeholder="search " class="input-sm form-control " type="search " /></th>
            <th><select st-search="partnerName " st-input-event="change " st-delay=0 ng-model="dummy " class="form-control input-sm">
                    <option value="">All items</option>
                    <option ng-repeat="item in ordersCollection | unique: 'partnerName' " value="{{item.partnerName}} ">
                        {{ item.partnerName }}
                    </option>
                </select></th>
            <th><select st-search="payment.name" st-input-event="change" st-delay=0 ng-model="dummy" class="form-control input-sm">
                    <option value="">All items</option>
                    <option ng-repeat="item in ordersCollection | unique: 'payment.name'" value="{{item.payment.name}}">
                        {{ item.payment.name }}
                    </option>
            </select></th>
            <th><input st-search="username " placeholder="search " class="input-sm form-control " type="search " /></th>
            <th ng-show="writeAccess "></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="item in displayedCollection ">
            <td ng-class="table-id ">{{item.id}}</td>
            <td>{{item.order_date | date: "MM-dd-yyyy "}}</td>
            <td ng-class="checkIsOlder(item.expected_date)">{{item.expected_date | date: "MM-dd-yyyy "}}</td>
            <td>{{item.description}}</td>
            <td>{{item.partnerName}}</td>
            <td>{{item.payment.name}}</td>
            <td title="ID: {{item.userId}} ">{{item.username}}</td>
            <td style="min-width:200px "  align="right ">
                
                    <button type="button " class="btn btn-info btn-icon " data-toggle="modal " ng-click="updateOrder(item)
                                    "><i class="ion-search "></i></button>
                    
                


            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="12 " class="text-center ">
                <div st-pagination=" " st-items-by-page="smartTablePageSize " st-displayed-pages="10 "></div>
            </td>
        </tr>
    </tfoot>
</table>
<div class="form-group select-page-size-wrap " layout="row ">
    Rows per page
    <select class="form-control selectpicker show-tick " title="Rows on page " selectpicker ng-model="smartTablePageSize
                                    " ng-options="i for i in [5,10,15,20,25,50,100] ">
      </select>
</div>