<table st-safe-src="completedOrdersCollection" st-table="displayedCollection" class="table table-striped" st-set-filter="onsFilter">
    <thead>
        <tr class="sortable">
            <th st-sort="id" st-sort-default>ID</th>
            <th st-sort="order_date">Order Date</th>
            <th st-sort="expected_date">Exp. Arrival Date</th>
            <th st-sort="product_name">Product Name</th>
            <th st-sort="product_category">Product Category</th>
            <th st-sort="partner.name">Partner</th>
            <th st-sort="quantity">Quantity</th>
            <th st-sort="price">Price</th>
            <th st-sort="total">Total</th>
            <th st-sort="payment.name">Payment</th>
            <th st-sort="username">Username</th>
            
        </tr>
        <tr>
            <th></th>
            <th><input type="date" st-search="order_date"  style="width:130px;"/></th>
            <th><input type="date" st-search="expected_date"  style="width:130px;"/></th>
            <th><input st-search="product_name" placeholder="search" class="input-sm form-control" type="search" /></th>
            <th><select st-search="product_category" st-input-event="change" st-delay=0 ng-model="dummy" class="form-control input-sm">
                        <option value="">
                            All items
                        </option>
                        <option ng-repeat="item in completedOrdersCollection | unique: 'product_category'" value="{{item.product_category}}">
                            {{ item.product_category }}
                        </option>
                    </select></th>
            <th><select st-search="partner.name" st-input-event="change" st-delay=0 ng-model="dummy" class="form-control input-sm">
                        <option value="">
                            All items
                        </option>
                        <option ng-repeat="item in completedOrdersCollection | unique:'partner.name'" value="{{item.partner.name}}">
                            {{ item.partner.name }}
                        </option>
                    </select></th>
            <th></th>
            <th></th>
            <th></th>
            <th><select st-search="payment.name" st-input-event="change" st-delay=0 ng-model="dummy" class="form-control input-sm">
                        <option value="">
                            All items
                        </option>
                        <option ng-repeat="item in completedOrdersCollection | unique:'payment.name'" value="{{item.payment.name}}">
                            {{ item.payment.name }}
                        </option>
                    </select></th>
            <th><input st-search="username" placeholder="search" class="input-sm form-control" type="search" /></th>
            <th ng-show="writeAccess"></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="item in displayedCollection">
            <td ng-class="table-id">{{item.id}}</td>
            <td><span editable-date="item.order_date" e-name="order_date" e-form="rowform">{{item.order_date | date: "MM-dd-yyyy"}}</span></td>
            <td><span editable-date="item.expected_date" e-name="expected_date" e-form="rowform" ng-class="checkIsOlder(item.expected_date)">
                    {{item.expected_date | date: "MM-dd-yyyy"}}
                </span></td>
            <td>{{item.product_name}}</td>
            <td>{{item.product_category}}</td>
            <td>{{item.partner.name}}</td>
            <td>{{item.quantity}}</td>
            <td style="white-space:nowrap">{{item.price}} $</td>
            <td style="white-space:nowrap">{{item.total}} $</td>
            <td>{{item.payment.name}}</td>
            <td title="{{item.userId}}">{{item.username}}</td>
            <td style="min-width:150px" ng-show="writeAccess" align="right">
                <div ng-show="!rowform.$visible">
                    <button type="button" class="btn btn-info btn-icon" data-toggle="modal" ng-click="rowform.$show()"><i class="ion-edit"></i></button>
                    <button type="button" class="btn btn-danger btn-icon" data-toggle="modal" ng-click="deleteItem(item)"><i class="ion-trash-b"></i></button>
                </div>
                <form editable-form name="rowform" onbeforesave="updateOrder($data, item)" ng-show="rowform.$visible" shown="inserted == item">
                    <button type="submit" class="btn btn-success" ng-disabled="rowform.$waiting">save</button>
                    <button type="button" class="btn btn-warning" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">cancel</button>
                </form>

            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="12" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
            </td>
        </tr>
    </tfoot>
</table>
<div class="form-group select-page-size-wrap" layout="row">
    Rows per page
    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25,50,100]">
      </select>
</div>