<div ng-show="writeAccess">
    <button type="button" class="btn btn-info" ng-click="createItem()">Add new client +</button>
</div>

<table st-safe-src="clientCollection" st-table="displayedCollection" class="table table-striped">

    <thead>
        <tr class="sortable">
            <th st-sort="id" st-sort-default>ID</th>
            <th st-sort="title" st-sort-default>Title</th>
            <th st-sort="first_name">First Name</th>
            <th st-sort="last_name">Last Name</th>
            <th st-sort="email">E-mail</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th>
                <input st-search="first_name" placeholder="search for first name" class="input-sm form-control" type="search" />
            </th>
            <th>
                <input st-search="last_name" placeholder="search for last name" class="input-sm form-control" type="search" />
            </th>
            <th>
                <input st-search="email" placeholder="search for phone number" class="input-sm form-control" type="search" />
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="item in displayedCollection">
            <td class="table-id">{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.email}}</td>
            <td style="min-width:50px" align="right">
                <div>
                    <button type="button" class="btn btn-info btn-icon" data-toggle="modal" ng-click="editItem(item)"><i class="ion-search"></i></button>
                    <button type="button" ng-show="writeAccess" class="btn btn-danger btn-icon" data-toggle="modal" ng-click="deleteItem(item)"><i class="ion-trash-b"></i></button>
                </div>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
            </td>
        </tr>
    </tfoot>

</table>


<div class="form-group select-page-size-wrap" layout="row">
    Rows per page
    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25,50,100]">
      </select>
</div>
