<div ng-hide="newItem.$visible">
  <button type="button" class="btn btn-info" ng-click="newItem.$show()">Add new product category +</button>
</div>
<div ng-show="newItem.$visible">

  <form editable-form name="newItem" onbeforesave="addNewItem($data)">




    <div ba-panel class="panel bootstrap-panel">
      <div class="panel-heading">Add new order</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="category_name">Product Category Name</label>
              <span editable-text="newProductCategory.category_name" e-name="category_name" e-form="newItem" onbeforesave="checkName($data)">
         </span>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" ng-disabled="newItem.$waiting">save</button>
      <button type="button" class="btn btn-warning" ng-disabled="newItem.$waiting" ng-click="newItem.$cancel()">cancel</button>
    </div>
</div>
</form>

<table st-safe-src="productCategoryCollection" st-table="displayedCollection" class="table table-striped">

  <thead>
    <tr class="sortable">
      <th st-sort="id" st-sort-default>ID</th>
      <th st-sort="category_name">Product Category Name</th>
    </tr>
    <tr>
      <th></th>
      <th>
        <input st-search="category_name" placeholder="search for category" class="input-sm form-control" type="search" />
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="item in displayedCollection">
      <td class="table-id">{{item.id}}</td>
      <td>
        <span editable-text="item.category_name" e-name="category_name" e-form="rowform" onbeforesave="checkName($data, item.id)">
        {{item.category_name}}
        </span>
      </td>
      <td style="min-width:200px">
        <div ng-show="!rowform.$visible">
          <button type="button" class="btn btn-info btn-icon" data-toggle="modal" ng-click="rowform.$show()"><i class="ion-edit"></i></button>
          <button type="button" class="btn btn-danger btn-icon" data-toggle="modal" ng-click="deleteItem(item)"><i class="ion-trash-b"></i></button>
        </div>
        <form editable-form name="rowform" onbeforesave="updateProductCategory($data, item.id)" ng-show="rowform.$visible" shown="inserted == item">
          <button type="submit" class="btn btn-success" ng-disabled="rowform.$waiting">save</button>
          <button type="button" class="btn btn-warning" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()">cancel</button>
        </form>
      </td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
      </td>
    </tr>
  </tfoot>

</table>


<div class="form-group select-page-size-wrap" layout="row">
  Rows per page
  <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25,50,100]">
      </select>
</div>